{
    "rules": {
        "indent": ["error", 4, {
        "SwitchCase": 1
        }],
        "max-len": ["error", 300],
        "space-before-function-paren": [
            2, {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "func-names": ["error", "as-needed"],
        "no-param-reassign": ["error",  { "props": false }],
        "arrow-body-style": ["error", "always"],
        "no-use-before-define": [
            2,
            "nofunc"
        ],
        "comma-dangle": [
            0
        ],
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": true
            }
        ],
        "no-underscore-dangle": [
            0
        ]
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
      "angular": true,
      "Chart": true,
      "moment": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base"
    ]
}
