// ==================================
// MAJOR BREAKPOINTS
// ==================================

$breakpoints: (
	small: 20em, // Mobile
	medium: 50em, // 560px // Tablet
	large: 60em, // 960px // Desktop,
	larger: 70em, // 960px // Desktop,
	xlarge: 100em,
	xxlarge: 110em,
	xxxlarge: 130em
);

// ==================================
// TWEAKPOINTS
// ==================================

$tweakpoints: ();
