

// Brand Colours
$brand-primary:#e20d79;
$brand-secondary: #e74c3c;
$brand-third: #8e44ad;
$brand-fourth: #2c3e50;

// States
$success: #27ae60;
$danger: #e74c3c;
$cancel: #737373;
$warning: #e67e22;
$info: #2980b9;

$dark-gray:#232323;
$border: #eae8e8;//#e6e6e6;

//CARDS
$cards-background-colour: #FFF;

//Avator
$avatar-background: #F5F7F8;

// Page and Layout
$page-background:#FFF;
$page-background-alt: #F5F7F8;

//PANELS
$panel-page-header-background: #e20d79;
$panel-section-background: #FFF;
// Header and Nav
$public-header-background: transparent;
$public-header-logo-background: transparent;
$public-header-logo-color: #fff;

$private-header-background: #353535;
$private-header-logo-background: transparent;
$private-header-logo-color: #FFF;

$nav-hover-colour: #e20d79;
$private-nav-hover-colour: #f4f4f4;


//GLOBAL NAV
$globalnav-background-colour: #FFF;

// ACHORS AND MENU
$menu-background-colour: #FFF;
$menu-highlight-colour: #f4f4f4;

// Side bar
$sidebar-background-color: #000;
$sidebar-text-color: #FFF;

// Fonts
$text-primary: #4e4e4e;
$text-invert: #FFF;
$text-light:#a0a0a0;


// Icons:
$icon-outline-colour: #b5b5b5;

$twitter: #55acee;
$dropbox: #007ee5;
$google: #dd4b39;
